<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas///Logger_Log4Net.Log.Info(s);.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="info_log"
       xsi:type="File"
       layout="${longdate} | ${level} | ${message}"
       fileName="${basedir}/Info.log"
       archiveFileName="${basedir}/archives/info_{####}.log.txt"
       archiveAboveSize="102400"
       archiveNumbering="Sequence"
       maxArchiveFiles="99"
       concurrentWrites="false"
       deleteOldFileOnStartup="false"
       KeepFileOpen ="False"
       encoding="windows-1251"/>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="info_log" />
  </rules>
</nlog>